.App {
    text-align: center;
}

.noMargin {
    margin: 0;
}

.AnalysisTabsStyles {
    height: 100vh;
}

.ResultsPanelStyles {
    height: 95vh;
}

.PaperStyles {
    max-height: 95vh;
    overflow: auto;
    background-color: aliceblue;
}

.input {
    width: 30vw;
}
